@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap'); */

* {
  font-family: 'VT323', monospace;
  /* font-family: 'Dosis', sans-serif; */
  outline: none;

  -webkit-tap-highlight-color: transparent;
  /* user-select: none; */
}

*::selection {
  background-color: #c026d3;
  color: white;
}
